html, body {
    height: 100%;
	padding: 0;
}

#imgMontagne {
    max-height: 333px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

canvas { 
    border: 1px solid black; 
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}